spring:
  application:
    name: summer

  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/app_db}
    username: ${DB_USER:app}
    password: ${DB_PASSWORD:mypassword}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000
      pool-name: HikariCP
      max-lifetime: 600000
      connection-timeout: 30000
    flyway:
      enabled: true
      locations: classpath:db/migration
      baseline-on-migrate: true

  web:
    resources:
      add-mappings: false

#  jpa:
#    hibernate:
#      ddl-auto: update
#    show-sql: true
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.PostgreSQLDialect

# Actuator health check configuration
management:
  endpoints:
    web:
      exposure:
        include: health
      base-path: /actuator
  endpoint:
    health:
      show-details: when_authorized
      show-components: when_authorized
  health:
    db:
      enabled: true

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    path: /docs
    operationsSorter: method
    tagsSorter: alpha

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    com.blz.summer: INFO
